@model List<Movies>

<!--Make the movie list table and bring in data from the Model-->

<table class="table table-bordered">

    <thead class="fw-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent to</td>
            <td>Copied to Plex</td>
            <td>Notes</td>
            <td>Edit Movie</td>
            <td>Delete Movie</td>
        </tr>
        
    </thead>

    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@x.Category.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.CopiedToPlex</td>
                <td>@x.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>
            </tr>
            
        </tbody>
    }
    
</table>
